*
!.gitignore
!README.md
!Game.sh
!install.sh
!patch-game.sh
!steam-game-path.sh
!build-linux-release.sh
!.github/
!.github/workflows/
!.github/workflows/release.yml
!linux/
!linux/*.json
!linux/*.js
!LICENSE
